.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  // background-color: #f6f6f6;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 16px;
  text-align: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}


.full-width {
  width: 100%;
  margin-top: 16px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.divider span {
  background: #fff;
  padding: 0 8px;
  font-weight: bold;
  font-size: 14px;
  color: #757575;
}

.help-link {
  display: block;
  margin-top: 8px;
  text-decoration: none;
  color: #757575;
}

.back-to-login {
  width: 100%;
  color: #757575;
}