<div class="nutrition-label">
  <h2 class="title">Nutrition Facts</h2>
  <p class="serving-info">
    16 servings per container<br>
    <strong>Serving size</strong> 1 Tbsp. (21g)
  </p>
  <div class="divider"></div>
  <p class="amount-per-serving">Amount per serving</p>
  <p class="calories">Calories <span>60</span></p>
  <div class="divider thick"></div>
  
  <table>
    <tbody>
      <tr>
        <td colspan="2"><strong>Total Fat</strong> 0g</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="indent">Saturated Fat 0g</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="indent">Trans Fat 0g</td>
        <td></td>
      </tr>
      <tr>
        <td><strong>Cholesterol</strong> 0mg</td>
        <td>0%</td>
      </tr>
      <tr>
        <td><strong>Sodium</strong> 0mg</td>
        <td>0%</td>
      </tr>
      <tr>
        <td><strong>Total Carbohydrate</strong> 17g</td>
        <td>6%</td>
      </tr>
      <tr>
        <td class="indent">Dietary Fiber 0g</td>
        <td>0%</td>
      </tr>
      <tr>
        <td class="indent">Total Sugars 17g</td>
        <td>34%</td>
      </tr>
      <tr>
        <td><strong>Protein</strong> 0g</td>
        <td></td>
      </tr>
    </tbody>
  </table>
  
  <div class="divider thick"></div>
  
  <table class="micronutrients">
    <tbody>
      <tr>
        <td>Vitamin D 0mcg</td>
        <td>0%</td>
      </tr>
      <tr>
        <td>Calcium 0mg</td>
        <td>0%</td>
      </tr>
      <tr>
        <td>Iron 0mg</td>
        <td>0%</td>
      </tr>
      <tr>
        <td>Potassium 0mg</td>
        <td>0%</td>
      </tr>
    </tbody>
  </table>
  
  <div class="divider"></div>
  
  <p class="footnote">
    * The % Daily Value (DV) tells you how much a nutrient in a serving of food contributes to a daily diet. 2,000 calories a day is used for general nutrition advice.<br>
    1 One serving adds 17g of sugar to your diet and represents 34% of the Daily Value for Added Sugars.
  </p>
</div>